<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .order-header {
            background-color: #007bff;
            color: white;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .order-table {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .table th {
            background-color: #f1f1f1;
        }
        .total-row {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container mt-5">

                        
        {% if messages %}
        <div class="mb-4" id="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
  



        <div class="order-header">
            <h1 class="text-center">Order Details</h1>
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{% url 'home' %}">
                        <i class="fa fa-home" aria-hidden="true" style="color: #FFFFFF;"></i>
                    </a>
                    <h3>Order Id #{{ order.id }}</h3>
                    <p>Customer: {{ order.customer.username }}</p>
                </div>
                <div class="text-right">
                    <p>Date: {{ order.order_date }}</p>
                </div>
            </div>
            <form method="POST" action="{% url 'payment' %}">
                {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="adr" id="table">
                    <option value="{{order.customer.address}}"  selected>
                        Delivery Address: {{ order.customer.address }}
                    </option>
                    <option value="{{ address.address }}">
                        {{ address.address }}
                    </option>
                </select>
            </div>
        </div>
        <table class="table table-bordered order-table mt-4">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                <tr>
                    {% if item.discounted_price %}
                    <td>{{ item.menu_item.name }}</td>
                    <td>${{ item.discounted_price  }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.total_price }}</td>
                    {% else %}
                    <td>{{ item.menu_item.name }}</td>
                    <td>${{ item.price  }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.total_price }}</td>
                    {% endif %}
                  
                </tr>
                {% endfor %}
                <tr class="total-row">
                    <td colspan="3"><strong>Total</strong></td>
                    <td><strong>${{ total_price }}</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            
                
                <button type="submit" class="btn btn-primary btn-left">Proceed to Payment</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
