{% extends "master.html" %}
{% block content %}
{% include "header2.html" %}

<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            
            <img src="{{food.image1.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
               
              </h2>
            </div>
            <p>
              {{food.description}}
            </p>
            
          </div>
          <div>
            <a href="{% url 'add_to_order' food.id %}"><button class="btn btn-primary"> Add to cart </button></a>
            <button class="btn btn-info"> Order Now </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="book_section layout_padding">
    
  </section>
{% endblock content %}