{% extends "master.html" %}
{% block content %}
{% include "header2.html" %}

<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            
            <img src="{{offers.food.image1.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
                Name : {{offers.food.name}}
              </h3>
              <h5>
                Price :<span style="color: red;"><s>  {{offers.food.price}} </s></span>
              </h5>
              <h5> Discount: {{offers.discount}}%</h5>
              <h5> Now: {{offers.discounted_price}}</h5>
            </div>
            <h5>
              <br>
              Description:
            </h5>
            <p>
              {{offers.food.description}}
            </p>
            
          </div>
          <div>
            <a href="{% url 'add_to_order' offers.food.id %}"><button class="btn btn-primary"> Add to cart </button></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="book_section layout_padding">
    
  </section>
{% endblock content %}